@font-face{
  font-family: Muli;
  src: url("fonts/Muli.ttf");
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Muli";
}
a{
  text-decoration: none;
}
li{
  list-style: none;
  cursor: pointer;
}
.fa-circle{
  font-size: 8px;
  color: #DE1A51;
  margin: 0 5px;
}
.container-nav {
  width: 90vw;
  margin: 0 auto;
}
.container-nav ul{
  display: flex;
  gap: 30px;
  position: relative;
}
.container-nav ul.left{
  margin-top: 25px;
}
.container-nav ul.left li{
  transition: transform 0.2s ease-in-out;
}
.container-nav ul.left li:hover{
  transform: scale(1.1);
}
.container-nav ul.right{
  position: absolute;
  right: 10%;
  top: 0;
  margin-top: 17px;
}
li.link a{
  color: #4E94D9;
  margin-left: 15px;
}
.btn-upgrade{
border: 1px solid #242531;
padding: 10px 20px;
border-radius: 25px;
background-color: transparent;
outline: none;
height: 46px;
font-weight: bold;
cursor: pointer;
transition: all  0.3s ease-in-out;
}
.btn-upgrade:hover{
  background-color: #242531;
  color: #fff;
}
.btn-user{
  height: 46px;
  width: 46px;
  line-height: 46px;
  border-radius: 50%;
  border: none;
  background-color: #E9527D;
  color: #fff;
  font-weight: bold;
}
.container-body{
  width: 70vw;
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sideBar{
  background-color: #242531;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  height: 550px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.sideBar h3{
  color: #fff;
  opacity: 0.5;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
}
.sideBar ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}
.sideBar small{
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.5;
}
.sideBar .offer{
  background-color: #3A3C53;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:  10px 30px;
  border-radius: 20px;
}
.btn-try{
  width: 100%;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  height: 45px;
  margin-bottom: 20px;
  outline: none;
}
.projects-container{
  margin: 80px 0 0 30px;
}
.projects-container h2{
  color: #242531;
  margin-bottom: 20px;
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.project{
  text-align: center;
}
.project >div{
  height: 180px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.project >div:hover{
  transform: scale(1.05);
}
div.marketing{
  background-color: #58AEFF;
  box-shadow: 0 2px 10px #58AEFF;
}
i.marketing{
  color: #58AEFF ;
}
div.fl{
  background-color: #FF8158;
  box-shadow: 0 2px 10px #FF8158;
}
i.fl{
  color: #FF8158 ;
}
div.bd{
  background-color: #FFB658;
  box-shadow: 0 2px 10px #FFB658;
}
i.bd{
  color: #FFB658 ;
}
div.ud{
  background-color: #B058FF;
  box-shadow: 0 2px 10px #B058FF;
}
i.ud{
  color: #B058FF ;
}
div.ghost{
  background-color: transparent;
  color: #202842;
  border: 1px solid #202842;
  font-weight: lighter;
  transition: all 0.4s ease-in-out;
}
div.ghost:hover{
  background-color: #202842;
  color: #fff;
}
@media(max-width: 1200px){
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media(max-width: 1100px){
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media(max-width: 800px){
  .projects-container h2{
    text-align: center;
  }
  .projects{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .container-body{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}